@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.chat {
    height: 100vh;
    background: #2ea4ff39;

    &__form {
        height: 98%;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    &__input {
        width: 50%;
        padding: 15px 55px 15px 25px;
        border: 1px solid #ccc;
        border-radius: 99px;
        color: #4e5358;
        font-size: 1.8rem;

        &::placeholder {
            color: #4e5358;
            font-size: 1.8rem;
        }
    }

    &__btn {
        position: absolute;
        right: 295px;
        bottom: 7px;
        padding: 12px;
        border-radius: 50%;
    }

    &__icon {
        width: 10px;
        height: 10px;

        & path {
            fill: #fff;
        }
    }
}

.chat-notice {
    width: 100%;
    height: 695px;
    padding: 20px 12px;
    background: #4157ff;
    overflow-y: auto;
    overflow-x: hidden;

    &__user {
        @extend %flexItemCenter;
        gap: 12px;
        padding-bottom: 12px;
        border-bottom: 2px solid #ccc;
    }

    &__avatar {
        width: 48px;
        height: 48px;
        object-fit: cover;
        border-radius: 50%;
    }

    &__name {
        color: #fff;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.21;
    }

    &__email {
        color: #fff;
        line-height: 1.71;
    }

    &__bottom {
        margin-top: 38px;
    }

    &__mess {
        display: block;
        padding: 12px;
        border-radius: 12px;
        background: #fff;
    }

    &__mess + &__mess {
        margin-top: 22px;
    }

    &__title {
        color: #191b1d;
        font-size: 1.8rem;
        line-height: 1.67;

        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__desc {
        margin-top: 5px;
        color: #4e5358;
        line-height: 1.75;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
