@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.hero {
    background: #e9f6ff;

    &__inner {
        @extend %flexItemCenter;
    }
}

.hero-content {
    width: 50%;
    padding-left: 100px;

    &__title {
        width: 50%;
        color: #151e66;
        letter-spacing: -0.5px;
        font-size: 6rem;
        font-weight: 600;
        line-height: 1.1;
    }

    &__desc {
        width: 70%;
        margin-top: 30px;
    }

    &__action {
        margin-top: 40px;
    }
}

.hero-info {
    width: 50%;

    height: 612px;
    position: relative;
    background: rgb(46, 164, 255);
    background: linear-gradient(
        184deg,
        rgba(46, 164, 255, 1) 29%,
        rgba(65, 87, 255, 1) 70%
    );

    &__avt {
        height: 550px;

        position: absolute;
        bottom: 0;
        left: 50%;
        translate: -50%;
        object-fit: cover;
        z-index: 1;
    }

    &__img {
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        animation: rotate 10s linear 0s infinite;
    }
}

.hero-search {
    width: 70%;

    position: absolute;
    bottom: -130px;
    left: 50%;
    translate: -50%;
    z-index: 2;

    background: #fff;
    border: 1px solid #d8eeff;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 20px 20px -7px rgba(28, 46, 187, 0.1);

    &__inner {
        @extend %flexItemCenter;
        flex-direction: column;

        margin: 20px;
        padding: 40px 20px 20px;
        border-radius: 10px;
        background: rgb(46, 164, 255);
        background: linear-gradient(
            184deg,
            rgba(46, 164, 255, 1) 29%,
            rgba(65, 87, 255, 1) 70%
        );
    }

    &__title {
        color: #fff;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 50px;
        margin-top: 40px;
    }

    &__item {
        padding: 4px 10px;
        text-align: center;
        font-weight: 700;
        background: #d8eeff;
        color: #151e66;
        border-radius: 4px;

        &:hover {
            background: #fff;
        }
    }
}
